<div class="jumbotron">
    <h1>GallowayTech Web API</h1>
    <p class="lead">This is a personal site for learning new technologies and keeping skills sharp when time permits.</p>
</div>
<div>
    Other sites:
    <ul>
        <li>Original site: <a href="http://gallowaytech.com" target="_blank">http://gallowaytech.com</a></li>
        <li>MVC remake still in progress: <a href="http://gallowaytech.com/gallowaytechmvc" target="_blank">http://gallowaytech.com/gallowaytechmvc</a></li>
        <li>First photo album remake: <a href="http://gallowaytech.com/gallowaytechangularjs" target="_blank">http://gallowaytech.com/gallowaytechangularjs</a></li>
        <li>Second photo album remake soon to come: http://gallowaytech.com/angularbootstrapalbum</li>
    </ul>
</div>