<connectionStrings>
  <add name="SiteContentContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=GallowayTechDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="PhotoAlbumContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=GallowayTechDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="ApplicationDbContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=GallowayTechDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  
  <!--<add name="SiteContentContext" connectionString="data source=JASONS-LAPTOP\MSSQLSERVER2014;initial catalog=gallowaytechDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <!--<add name="PhotoAlbumContext" connectionString="data source=JASONS-LAPTOP\MSSQLSERVER2014;initial catalog=GallowayTechDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <!--<add name="ApplicationDbContext" connectionString="data source=JASONS-LAPTOP\MSSQLSERVER2014;initial catalog=GallowayTechDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
</connectionStrings>
